Flask==3.1.1
httptools==0.6.4
ipykernel==6.29.5
langchain-chroma==0.2.5
langchain-experimental==0.3.4
langchain-upstage==0.7.3
pip==25.0.1
prophet==1.1.6
scikit-learn==1.6.1
seaborn==0.13.2
streamlit==1.44.1
tensorflow==2.19.0
watchfiles==1.1.0
websockets==15.0.1
